.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background: white;
    position: relative
}

.image {
    width: 100%;


}

.videoContainer:hover>.info {
    background-color: rgb(255, 255, 255);
}

.info {
    height: 120px;

    position: relative;
    top: -120px;
    background-color: rgb(255, 255, 255, 0.5);


}

.header {

    margin-left: 33px;

    margin-right: 20px;
    margin-top: 20px;
    height: 400px;
    width: 95%;
    border-radius: 30px;
}

.homepage>.button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.courseList {
    display: flex;
    margin-bottom: 50px;
}

.course {
    background-color: whitesmoke;
    box-shadow: 0 0 25px 5px rgb(86, 83, 83);
    border-radius: 25px;
    height: 1200px;
    width: 90%;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 65px;
    margin-top: -20px;
    margin-bottom: 30px;
    position: relative;
    top: -100px;


}

.latest {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 15px;
}

.latestimage {
    width: 300px;
    height: 200px;
    margin: 20px;

}

.courseImage {
    border-radius: 100%;
    height: 100px;
    border: 2px solid black;
    margin: 40px;
}

.courseName {
    font-size: 30px;
    text-align: center;

}

.videoList {
    display: flex;
}

.videoContainer {
    border: 2px solid black;
    width: 345px;
    height: 400px;
    margin-top: 15px;
    margin-left: 25px;



    font-size: 25px;
}

.subject {
    font-size: 15px;
    margin-left: 10px;
    padding-top: 10px;

}



.topic {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;

}

.button {


    width: 100px;
    height: 30px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    margin: 5px;
    font-weight: bold;
    background-color: rgb(37, 40, 48);





}

.instructor {
    font-size: 15px;
    padding-left: 10px;
}